*{
    font-size: 24px;
}

.title{
    font-size: 70px;
}

.title-margin{
    margin-top: 10%;
}

.body-container{
    height: 90vh;
    width: 100vw;
    background-image: url('../../public/images/background.jpg');
    background-size: cover;
}

nav li{
    list-style: none;
    margin-left: 2%;
}

nav ul{
    width: 100%;
}

.navbar-hover:hover{
    color: grey;
}

.navbar{
    height: 10vh;
}

.title-color{
    color: rgb(16, 99, 167);
}

table{
    width: 100%;
}

.booking-message{
    display: flex;
    justify-content: center;
}

.home-title{
    font-size: 80px;
    color: beige;
    width: 100%;
    text-align: center;
}

.booking:hover{
    background-color: grey;
}

.required-red{
    color: red;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    z-index: 100;
}

.footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-menu p, .footer-logo p, .easy-contact p{
    margin-bottom: 0;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-body-container{
    height: 90vh;
    width: 100vw;
}

.smooth-up{
    display: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10%;
    right: 2%;
    >.scroll-up{
        display: flex;
        justify-content: center;
    }
    >.easy-contact{
        display: flex;
        flex-direction: column;
    }
}

iframe{
    width: 600px;
    height: 450px;
}

.btn{
    margin-bottom: 2%;
}

.button-margin-top{
    margin-top: 3%;
}

// レスポンシブ
@media screen and(max-width: 1050px){
    .table-few-body-container{
    height: 90vh;
    width: 100vw;
    }
}

@media screen and (max-width: 1000px){
    *{
    font-size: 18px;
    }

    .hamburger {
    display : block;
    position: absolute;
    z-index : 3;
    right : 3%;
    top   : 2%;
    width : 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.5s all;
    -moz-transition   : 0.5s all;
    transition        : 0.5s all;
    }
    .hamburger span {
    display : block;
    position: absolute;
    width   : 40px;
    height  : 5px ;
    left    : 6px;
    background : white;
    }
    .hamburger span:nth-child(1) {
    top: 15px;
    }
    .hamburger span:nth-child(2) {
    top: 30px;
    }
    .hamburger span:nth-child(3) {
    top: 45px;
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background : #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
    }
    .hamburger.active span:nth-child(2) {
    top: 16px;
    background : #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
    }
    .hamburger.active span:nth-child(3) {
    opacity: 0;
    }

    .globalMenuSp {
    position: absolute;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    display: none;
    }

    .globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    }

    .globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
    }
    .globalMenuSp ul li:last-child {
    padding-bottom: 0;
    }
    .globalMenuSp ul li:hover{
    background :#ddd;
    }

    .globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
    }

    /* このクラスを、jQueryで付与・削除する */
    .globalMenuSp.active {
    display: block;
    }
    // タイトル文字縮小
    #home-title{
        font-size: 50px;
    }

    .booking-body-container{
    height: 90vh;
    width: 100vw;
    }

    .contact-body-container{
    height: auto;
    }

    .table-few-body-container{
    height: auto;
    width: auto;
    }

    .easy-contact{
        display: none!important;
    }
}

@media screen and (max-width: 600px){
    *{
    font-size: 12px;
    }

    .hamburger {
    right : 7%;
    top   : 1.5%;
    width : 30px;
    height: 30px;
    }
    .hamburger span {
    width   : 30px;
    height  : 3px ;
    left    : 5px;
    }
    .hamburger span:nth-child(1) {
    top: 10px;
    }
    .hamburger span:nth-child(2) {
    top: 20px;
    }
    .hamburger span:nth-child(3) {
    top: 30px;
    }
    // タイトル文字縮小
    .title{
        margin: 10%;
    }

    .home-title{
        font-size: 30px;
    }

    .smooth-up{
    display: block!important;
    }

    .table{
        width: 100%;
    }

    .menu-padding, .about-padding{
        padding: 0 10%;
    }

    iframe{
    width: 300px;
    height: 300px;
    }

    .booking-body-container{
    height: auto;
    }
}
