<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/email.css">
    <title>Document</title>
</head>

<body>
    <div class="email-container">
        <header class="email-header">
            <img src="../../../public/images/background.jpg" alt="restaurant-img" class="email-restaurant-img">
            <div class="p">Hoque's Restaurant</div>
        </header>

        <article>
            <div class="email-content">
                <h1>Hi, Someone!</h1>
                <h3>Thank you for your Booking!</h3>
                <h5>Booking Information</h5>
                <ul>
                    <li>Date: </li>
                    <li>Time: </li>
                    <li>People: </li>
                    <li>First_name: </li>
                    <li>Last_name: </li>
                    <li>Tel: </li>
                    <li>Email: </li>
                    <li>Comment: </li>
                </ul>
            </div>
        </article>

        <aside class="email-aside">
            <div class="email-social-logo">
                <h5>Contact with Us:</h5>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Instagram</p>
                </ul>
            </div>

            <div class="email-contact-info">
                <h5>Contact Info:</h5>
                <p>Phone: </p>
                <p>Email: </p>
            </div>
        </aside>

        <footer class="email-footer">
            <p><a href="">Terms</a>|<a href="">Privacy</a>|<a href="">Unsubscribe</a></p>
        </footer>
    </div>
</body>



</html>